export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export SDL_IM_MODULE=fcitx
export GLFW_IM_MODULE=ibus
export PICTURES=~/Pictures
syndaemon -i 0.5 -t -K -R -d
synclient TapButton1=0 TapButton2=0 TapButton3=0
synclient ClickButton1=1 ClickButton2=3 ClickButton3=2
synclient VertScrollDelta=-111 HorizScrollDelta=-111

# if [ -e /home/cjr/.nix-profile/etc/profile.d/nix.sh ]; then . /home/cjr/.nix-profile/etc/profile.d/nix.sh; fi # added by Nix installer
