[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output DP-1-1 --mode 3840x2160 --rate 60.00 --output eDP-1-1 --off'
OnlyShowIn=LXDE
