[Desktop Entry]
Name=Tilda
Exec=/usr/bin/tilda --config-file /home/cjr/.config/tilda/config_2
Icon=tilda
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
