[Unit]
Description=Update wallpaper from bing

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-bing-wallpaper.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
